@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Kanit';
}

input{
    height: 40px;
    border: 2px solid #b46be4b7;
    padding: 10px 15px;
}

input:focus{
    outline: none;
    border: 2px solid black !important;
}

.primary{
    background-color: #800080;
    color: rgb(255, 255, 255);
    border:none !important;
    padding: 7px 0;
}
i{
    cursor: pointer;
}

thead{
    background-color: rgba(128, 128, 128, 0.203);
    padding: 10px !important;
}
th{
    padding: 10px !important;
    text-align: left !important;
}
td{
    padding: 10px !important;
}
tr{
    border-bottom: 1px solid rgba(128, 128, 128, 0.203);
}

input[type='file']{
    border: none !important;
}
.sc-bczRLJ{
    border: none !important;
}
/* index.css */

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Thin scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Dark gray color */
    border-radius: 100px; /* Capsule-like shape */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f3f4f6; /* Light background for the track */
    border-radius: 100px; /* Rounded track */
  }
  